<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="adobereader" />
  <package id="agentransack" />
  <package id="autohotkey.portable" />
  <package id="azure-cli" />
  <package id="azure-data-studio" />
  <package id="baretail" />
  <package id="batterybar" />
  <package id="bicep" />
  <package id="bulkrenameutility" />
  <package id="chocolatey" />
  <package id="ditto" />
  <package id="dotnet-5.0-desktopruntime" />
  <package id="DotNet4.6" />
  <package id="DotNet4.6.1" />
  <package id="dotnetcore-3.1-desktopruntime" />
  <package id="dotnetcore-desktopruntime" />
  <package id="dotnetfx" />
  <package id="docker-desktop" />
  <package id="Everything" />
  <package id="filezilla" />
  <package id="git.install" />
  <package id="imageglass" />
  <package id="InkScape" />
  <package id="kdiff3" />
  <package id="msbuild-structured-log-viewer" />
  <package id="nodejs" />
  <package id="nodejs.install" />
  <package id="notepadplusplus.install" />
  <package id="PowerShell" />
  <package id="postman" />
  <package id="powershell-core" />
  <package id="powertoys" />
  <package id="sql-server-management-studio" />
  <package id="sysinternals" />
  <package id="windirstat" />
  <package id="winmerge" />
  <package id="xmind" />
</packages>